h1 {
	color: black;
}

#primary_nav_wrap
{
    margin-top:15px;
}
#primary_nav_wrap ul
{
    list-style: none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul li a
{
    display: block;
    color: grey;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
    padding: 0 71.5px;
}

#primary_nav_wrap ul li
{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

#primary_nav_wrap ul li:hover
{
    background: #55616B;
}

#primary_nav_wrap ul ul
{
    display: none;
    position: absolute;
    left: 0;
    background: #A6BDD1;
    padding: 0;
}

#primary_nav_wrap ul ul li
{
    width: 200px;
}

#primary_nav_wrap ul ul a
{
    padding: 10px 15px;
}

#primary_nav_wrap ul ul ul
{
    top: 0;
    left: 100%;
}

#primary_nav_wrap ul li:hover #first
{
    display: block;
}

#first li:hover #second
{
    display: block;
}

#second li:hover #third
{
    display: block;
}
